.h1e {


    background-image: linear-gradient(red, gold);
    margin: 0px;
    width: auto;
    border-color: black;
    border: 7px solid black;
    text-align: center;
    color: black;
    



}


.body1 {

    background-image: linear-gradient(red, black);
    height: 100vh;
    
}


.lk1{

text-align: center;
color: gold;



}

a:hover {
    color: white;
}

a:active{

    color: gold;
}

.navdiv {
        display: flex;
        justify-content: space-around;
        position: sticky;
        top: 0px;
        border: 7px solid black ;

}

.p1{
 
    text-align: left ; 
    font-family: "Alfa Slab One", serif; color: gold;
    text-size-adjust: large;
    font-size: large;
}


.img1{    
border: 10px solid black;
height: 300px;
align-self: center;


}

.sizediv{
flex: grid;

display: flex;
margin: 0px;
display: flex;

top: 0px;



}


.imgdiv{
 flex: grid;
display: flex;
margin: 0px;
display: flex;

top: 0px;



}

.alfa-slab one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
